*{
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhai 2', cursive;
    width: 1440px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h5 {
    margin: 0;
}

h2 {
    margin-bottom: 15px;
}

p {
    margin: 0;
}